<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer accounts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<header>
  <nav>
    <table width="1000" align="center">
      <tr>
        <td align="center">
          <a th:href="@{/customers}"><h3>Customers List</h3></a>
        </td>
        <td align="center">
          <a th:href="@{/operations}"><h3>Bank Operations</h3></a>
        </td>
      </tr>
    </table>
  </nav>
</header>

<h1 th:text="${customer.fullname}" align="center"></h1>

<div align="center">
  <label th:text="${message}"></label>
</div>

<table width="1200" align="center" border-style="solid" border="2">
  <tr>
    <td>Id</td>
    <td>Owner</td>
    <td>Financial statement</td>
    <td>Deposit</td>
    <td>Debit</td>
    <td>Transfer</td>
  </tr>
  <tr th:each="account : ${accountsList}">
    <td th:text="${account.id}">Id</td>
    <td th:text="${account.Customer.fullname}">Owner</td>
    <td th:text="${account.money}">Financial statement</td>
    <td>
      <form th:action="@{'/account/deposit/' + ${account.id}}" method="post">
            <input type="text" name="money" placeholder="Enter sum"/>
            <button type="submit">Deposit</button>
      </form>
    </td>
    <td>
      <form th:action="@{'/account/withdraw/' + ${account.id}}" method="post">
            <input type="text" name="money" placeholder="Enter sum"/>
            <button type="submit">Withdraw</button>
      </form>
    </td>
    <td>
      <form th:action="@{'/account/transfer/' + ${account.id} }" method="post">
            <input type="text" name="money" placeholder="Enter sum"/>
            <input type="text" name="recipient" placeholder="Enter account"/>
            <button type="submit">Transfer</button>
      </form>
    </td>
  </tr>
</table>

<h1 align="center">Add a new account</h1>

<div align="center">
  <label th:text="${accMessage}"></label>
</div>

<div align="center" >
  <form action="/account" method="post">
    <input type="hidden" name="id" th:value="${customer.id}"/>
    <input type="text" name="money"/>
    <button type="submit">Add account</button>
  </form>
</div>

</body>
</html>