<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer accounts</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1 th:text="${customer.fullname}" align="center"></h1>

<table width="800" align="center" border-style="solid" border="2">
  <tr>
    <td>Id</td>
    <td>Owner</td>
    <td>Financial statement</td>
  </tr>
  <tr th:each="account : ${accountsList}">
    <td th:text="${account.id}">Id</td>
    <td th:text="${account.Customer.fullname}">Owner</td>
    <td th:text="${account.money}">Financial statement</td>
  </tr>
</table>

<h1 align="center">Add a new account</h1>

<div align="center">
  <form action="/account" method="post">
    <input type="hidden" name="id" th:value="${customer.id}"/>
    <input type="text" name="money"/>
    <button type="submit">Add account</button>
  </form>
</div>

</body>
</html>