<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customers</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<header>
  <nav>
    <table width="1000" align="center">
      <tr>
        <td align="center">
          <a th:href="@{/customers}"><h3>Customers List</h3></a>
        </td>
        <td align="center">
          <a th:href="@{/operations}"><h3>Bank Operations</h3></a>
        </td>
      </tr>
    </table>
  </nav>
</header>

  <h1 align="center">Customer List</h1>

  <table width="1000" align="center" border-style="solid" border="2">
    <tr>
      <td width="10%">Id</td>
      <td width="35%">Name (click to view accounts)</td>
      <td width="45%">Address</td>
      <td width="10%">Age</td>
    </tr>
    <tr th:each="customer : ${customersList}">
      <td width="10%" th:text="${customer.id}">Id</td>
      <td width="35%">
        <a th:href="@{'/accounts/' + ${customer.id}}" th:text="${customer.fullname}"></a>
      </td>
      <td width="45%" th:text="${customer.address}">Address</td>
      <td width="10%" th:text="${customer.age}">Age</td>
    </tr>

  </table>

  <h1 align="center">Add a new customer</h1>

  <div align="center">
    <form action="/customer" method="post">
      <input type="text" name="fullname" placeholder="Enter full name"/>
      <input type="text" name="address" placeholder="Enter address"/>
      <input type="text" name="age" placeholder="Fill age"/>
      <button type="submit">Add customer</button>
    </form>
  </div>


</body>
</html>