<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Operations</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<header>
  <nav>
    <table width="1000" align="center">
      <tr>
        <td align="center">
          <a th:href="@{/customers}"><h3>Customer's List</h3></a>
        </td>
        <td align="center">
          <a th:href="@{/operations}"><h3>Bank Operations</h3></a>
        </td>
      </tr>
    </table>
  </nav>
</header>

<h1 align="center">Operations List</h1>

<table width="1000" align="center" border-style="solid" border="2">
  <tr>
    <td width="20%">Id</td>
    <td width="20%">Account</td>
    <td width="20%">Operation type</td>
    <td width="20%">Money</td>
    <td width="20%">Operation Date</td>
  </tr>
  <tr th:each="operation : ${opsList}">
    <td width="20%" th:text="${operation.id}">Id</td>
    <td width="20%" th:text="${operation.accountId}"></td>
    <td width="20%" th:text="${operation.type}">Address</td>
    <td width="20%" th:text="${operation.money}"></td>
    <td width="20%" th:text="${operation.date}"></td>
  </tr>

</table>

</body>
</html>