<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Operations</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<header>
  <nav>
    <table width="1000" align="center">
      <tr>
        <td align="center">
          <a th:href="@{/customers}"><h3>Customers List</h3></a>
        </td>
        <td align="center">
          <a th:href="@{/operations}"><h3>Bank Operations</h3></a>
        </td>
      </tr>
    </table>
  </nav>
</header>

<h1 align="center">Operations List</h1>

<div align="center" width="800">
  <h3 align="center">Filter</h3>
  <table>
    <tr>
      <td>
        <form action="/operations/bycustomer" method="post">
          <label>Customer</label>
          <input type="text" name="fullname" placeholder="Enter customer name"/>
          <button type="submit">Run customer filter</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/operations/bydate" method="post">
          <label>Start date</label>
          <input type="text" name="startyear" placeholder="yyyy"/>
          <input type="text" name="startmonth" placeholder="mm"/>
          <input type="text" name="startday" placeholder="dd"/>
          <label>Finish date</label>
          <input type="text" name="finishyear" placeholder="yyyy"/>
          <input type="text" name="finishmonth" placeholder="mm"/>
          <input type="text" name="finishday" placeholder="dd"/>
          <button type="submit">Run date filter</button>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/operations" method="get">
          <button type="submit">Clear filter</button>
        </form>
      </td>
    </tr>
  </table>
</div>

<div align="center">
  <label th:text="${message}"></label>
</div>

<h3 align="center">Result</h3>

<table width="1000" align="center" border-style="solid" border="2">
  <tr>
    <td width="10%">Id</td>
    <td width="10%">Account</td>
    <td width="20%">Customer</td>
    <td width="20%">Operation type</td>
    <td width="20%">Money</td>
    <td width="20%">Operation Date</td>
  </tr>

  <tr th:each="operation : ${opsList}">
    <td width="10%" th:text="${operation.id}">Id</td>
    <td width="10%" th:text="${operation.accountId}"></td>
    <td width="20%" th:text="${operation.customer}"></td>
    <td width="20%" th:text="${operation.type}"></td>
    <td width="20%" th:text="${operation.money}"></td>
    <td width="20%" th:text="${operation.date}"></td>
  </tr>

</table>

</body>
</html>